<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limitless TCG Scraper</title>
</head>
<body>
    <header>

    </header>
    <main>
        {% for deck in decks %}
            <div>
                <h2>{{ deck.name }}</h2>
                <ul>
                    {% for dl in deck.decklists %}
                        <li>{{ dl }}</li>
                    {% else %}
                        <li>No decklists</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </main>
</body>
</html>